@import url("../css/fontello.css");
*{
  font-family: helvetica;
  margin: 0;
  /*padding: 0;*/
}
body{
  background: #f5f8fa;
  color: #ababab;
}
header{
  background: #fff;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
a{
  text-decoration: none;
  color:#66757f;
  font-size: .9em;
}
aside{
  width: 77%;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: auto;
}
form{
  width: 100%;
  margin-top: 45px;
}
.container{
  margin: 0 5%;
  padding: 14px;
}
.left{
  float: left;
}
.nav-box, .box-section{
  float: left;
  width: 33%;
}

.nav-box a{
  padding: 0 14px 10px 14px;
}
.nav-box a:nth-child(1){
  border-bottom: 4px solid #0094b3;
}
.nav-box a:hover{
  border-bottom: 4px solid #0094b3;
}
.nav-header div:nth-child(2) span{
  margin: 0 45%;
}
.nav-header div:nth-child(3){
  margin-top: -10px;
}
.nav-header div:nth-child(3) input{
  background: #f5f8fa;
  border-radius: 21px;
  width: 50%;
  height: 32px;
  font-size: 12px;
  border-style: none;
  border: 1px solid #e6ecf0;
  padding-left: 10px;
}
.nav-header div:nth-child(3) span{
  position: relative;
  right: 10%;
  top: 3px;
  cursor: pointer;
}
.nav-header div:nth-child(3) img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 0 -10px -28px;
}

#btnTwittear{
  background-color: #0094b3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.portada{
  background-color: #0094b3;
  height: 80px;
}
.datos-perfil{
  /*position: relative;*/
  /*overflow: auto;*/
}
.datos-perfil img{
  margin: -30px 10px 10px 10px;;
  float: left;
  border: 2px solid #fff;
  border-radius: 5px;
}

.datos-perfil .user{
  margin: 10px 0;
  color: #000;
}
.kpi{
  font-size: 12px;
  margin: 0 20px 10px 10px;
}
.kpi p:nth-child(2){
  color: #0094b3;
  font-size: 1.5em;
}
